$family-primary: "Lato", sans-serif;

$black: black;
$white: white;
$text: $black;
$text-strong: $text;

$control-radius: 0;
$control-border-width: 2px;

$title-weight: 700;
$subtitle-weight: 700;

$size-2: 2.5rem;
$size-3: 1.5rem; 
$size-4: 1rem;

$button-border-color: $black;
$button-hover-color: $white;
$button-hover-border-color: $button-border-color;

$link: $black;